@import url('https://cdn.jsdelivr.net/npm/vazirmatn@33.0.3/Vazirmatn-font-face.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  direction: rtl;
  font-family: 'Vazirmatn', Tahoma, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}